<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/orcamento.css">
    <title>ORCAMENTO</title>
</head>
<body>
    <%- include('../partials/menuTopo.ejs'); %>
    
    <form action="/orcamento_service" method="POST">    

        <div class="titulo">
            <label> 
                <p class="titulo_escrita"><i class="fa-solid fa-gavel  fa-xl"></i> Orçamento</p>
            </label>
        </div>

        <div class="geral" id="geral">
            
            <div class="entrada_numero" id="entrada_numero">
                <label>
                    <input type="hidden" name="numero_pedido" value=" <%= rows_numero_pedido[0][0].numero + 1 %> ">Entrada Nº <%= rows_numero_pedido[0][0].numero + 1 %>
                </label>
            </div>

            <div class="conteiner">
                <div class="parte_um">
                    <div class="selecionadores">
                        <label>Cliente:
                            <select name="cliente" id="cliente">
                                <% for(let i in rows_cliente){ %>
                                    <option value="<%= rows_cliente[i].idcliente %>"><%= rows_cliente[i].cliente_nome_fantasia %></option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label>Serviço:
                            <select name="servico" id="servico">
                                <% for(let i in rows_servico){ %>
                                    <option  value="<%= rows_servico[i].idservico %>"><%= rows_servico[i].servico_tipo %></option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label>Descrição: 
                            <select name="descricao" id="descricao">
                                <% for(let i in rows_descricao){ %>
                                    <option value="<%= rows_descricao[i].idcliente_desc_peca %>"><%= rows_descricao[i].cliente_desc_pc_descricao %></option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                </div>    
                <div class="parte_dois">
                    <div class="selecionadores">
                        <label >Diametro(mm):
                            <input type="number" id="diametro" name="diametro" placeholder="Ex: 200 ">
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label>Comprimento(mm):
                            <input type="text" id="comprimento" name="comprimento" placeholder="Ex: 1000">
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label>Quantidade:
                            <input type="number" id="quantidade" name="quantidade" placeholder="Ex: 3"> 
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label>Unidde: <br>
                            <select class="unidade" name="unidade" id="unidade">
                                <% for(let i in rows_unidade){ %>
                                    <option value="<%= rows_unidade[i].idunidade %>"><%= rows_unidade[i].unidade_tipo_un %></option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="conteiner_dois">
                <div class="parte_tres">
                    <div class="selecionadores">
                        <label>Camada:
                            <input type="number" id="camada" name="camada" placeholder="Ex: 0.5"> 
                        </label>
                    </div>
                </div>
                <div class="parte_quatro">
                    <div class="selecionadores">
                        <label>Fator X:
                            <input type="number" id="fatorx" name="fatorx" placeholder="Ex: 19">
                        </label>
                    </div>
                </div>
            </div>   
            <div class="conteiner_tres">
                <div class="parte_cinco">
                        <button type="button" class="botao_tela" onclick="calcular(document.getElementById('diametro').value, document.getElementById('comprimento').value, document.getElementById('fatorx').value)"><a href="#anchor">CALCULAR</a></button>
                </div>
            </div>
            <div id="anchor"></div>
            <div class="conteiner_quatro">
                <div class="parte_seis">
                    <div>
                        <p class="titulo_vl_tela">Valor Unitario: </p>
                    </div>
                </div>
                <div class="parte_sete">
                    <div>
                        <p class="tela" id="exibir_val_uni"></p>
                    </div>
                </div>
            </div>     
            
            <div class="conteiner_tres">
                <div class="parte_cinco">
                    <button type="button" class="botao_tela" 
                    onclick="adicionar(
                    document.getElementById('servico').value, 
                    document.getElementById('descricao').value, 
                    document.getElementById('unidade').value, 
                    document.getElementById('camada').value, 
                    document.getElementById('quantidade').value, 
                    document.getElementById('diametro').value, 
                    document.getElementById('comprimento').value,
                    document.getElementById('fatorx').value 
                                        )">ADICIONAR</button>
                </div>
            </div>
            

            <div class="conteiner_cinco">
                <div class="parte_oito">  
                    <table border="1">
                        <tbody id="tbody">
                            <tr>
                                <td>Serviço
                                </td>
                                <td>Descrição
                                </td>
                                <td>Camada
                                </td>
                                <td>QTD
                                </td>
                                <td>Unidade
                                </td>
                                <td>Fator X
                                </td>
                                <td>Valor Unitario
                                </td>
                                <td>Sub Total
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="conteiner_seis">
                <div class="parte_nove">
                    <p class="Vtotal">Valor Total:</p>
                 </div>
                <div class="parte_dez">
                    <p class="Vtotal" name="Vtotal" id="Vtotal"></p>
                </div>
            </div>

            <div class="conteiner_sete">
                <div class="parte_onze">
                    <div class="selecionadores">
                        <label>Frete:
                            <select name="frete">
                                <option value="sim">SIM</option>
                                <option value="nao">NÃO</option>
                            </select>
                        </label>
                    </div>
                    <div class="selecionadores">
                        <label class="label_ponto"> .
                            <input type="text" name="fretevalor" placeholder="Ex: (Valor do FRETE) 250">
                        </label>
                    </div>
                </div>

                <div class="parte_doze">
                    <div class="selecionadores">
                        <label>Pagamento:
                            <select name="pagamento">
                                <option value="a_vista">A vista</option>
                                <option value="prazo 1X">A prazo 1X</option>
                                <option value="prazo 2X">A prazo 2X</option>
                                <option value="prazo 3X">A prazo 3X</option>
                                <option value="prazo + 3X">A prazo + 3X</option>
                            </select>
                         </label>
                    </div>
                    <div class="selecionadores">
                        <label class="label_ponto">.
                            <input type="number" name="pagamento_forma_parcelado" placeholder="Ex: 7x">
                        </label>
                    </div>
                </div>

                <div class="parte_treze">
                    <div class="selecionadores">
                        <label>Prazo de entrega:
                            <input type="number" name="prazo_entrega" placeholder="Ex: 4 dias">
                        </label>
                    </div>
                </div>

                <div class="parte_catorze">
                    <div class="selecionadores">
                        <label>Desconto:
                            <input type="number" name="desconto" placeholder="Ex: 100">
                        </label>
                    </div>
                </div>

            </div>

            <div class="conteiner_tres">
                <div class="parte_cinco">
                    <button type="submit" class="botao_tela"><i class="fa-regular fa-floppy-disk fa-xl"></i> SALVAR</button>
                </div>
            </div>

        </div>

    </form>
</body>

<script>

         let serviços = []


        function calcular(diametro, comprimento, fatorx){
        
        let pi = 3.14
        
        let decimetro = (diametro * comprimento * pi) / 10000

        let val_uni = decimetro * fatorx

        let val_uni_exi = document.getElementById('exibir_val_uni')

        val_uni_exi.innerText = val_uni

        }  


        async function adicionar(servico, descricao, unidade, camada, quantidade, diametro, comprimento, fatorx){

            let data_unidade 
            let data_servico
            let data_descricao
            let pi = 3.14
            let decimetro = (diametro * comprimento * pi) / 10000

            await fetch(`http://localhost:8080/home/servico/${servico}?`, {
                 }).then(response =>{  
                     return response.json()
                   .then(data_ser =>{

                    if(data_ser){
                        data_servico = data_ser
                    }

                   })
                   }).catch((error_servico)=>{console.log(error_servico)})

            await fetch(`http://localhost:8080/home/descricao/${descricao}?`, {
                }).then(response =>{  
                    return response.json()
                    .then(data_des =>{

                    if(data_des){
                        data_descricao = data_des
                    }
                    })
                    }).catch((error_descricao)=>{console.log(error_descricao)})

            await fetch(`http://localhost:8080/home/unidade/${unidade}?`, {
                }).then(response =>{  
                    return response.json()
                    .then(data_uni =>{

                    if(data_uni){
                        data_unidade = data_uni
                    }

                    })
                    }).catch((error_unidade)=>{console.log(error_unidade)})


// primeira tabela
            let tbody =  document.getElementById('tbody')
            let tr =  tbody.insertRow()
            let td_servico =  tr.insertCell()
            let td_descricao =  tr.insertCell()
            let td_camada = tr.insertCell()
            let td_quantidade = tr.insertCell()
            let td_unidade = tr.insertCell()
            let td_fator_x = tr.insertCell() 
            let td_valorUnit = tr.insertCell()
            let td_subTotal = tr.insertCell()


            let inputServico = document.createElement('input')
            inputServico.setAttribute("type", "hidden")
            inputServico.setAttribute("name", "arrayservico[]")

            let inputDescricao = document.createElement('input')
            inputDescricao.setAttribute("type", "hidden")
            inputDescricao.setAttribute("name", "arraydescricao[]")

            let inputDiametro = document.createElement('input')
            inputDiametro.setAttribute("type", "hidden")
            inputDiametro.setAttribute("name", "arraydiametro[]")

            let inputComprimento = document.createElement('input')
            inputComprimento.setAttribute("type", "hidden")
            inputComprimento.setAttribute("name", "arraycomprimento[]")

            let inputQuantidade = document.createElement('input')
            inputQuantidade.setAttribute("type", "hidden")
            inputQuantidade.setAttribute("name", "arrayquantidade[]")

            let inputUnidade = document.createElement('input')
            inputUnidade.setAttribute("type", "hidden")
            inputUnidade.setAttribute("name", "arrayunidade[]")

            let inputCamada = document.createElement('input')
            inputCamada.setAttribute("type", "hidden")
            inputCamada.setAttribute("name", "arraycamada[]")

            let inputFatorx = document.createElement('input')
            inputFatorx.setAttribute("type", "hidden")
            inputFatorx.setAttribute("name", "arrayfatorx[]")

            let inputValorUnit = document.createElement('input')
            inputValorUnit.setAttribute("type", "hidden")
            inputValorUnit.setAttribute("name", "arrayvalorunit[]")

            let inputSubTotal = document.createElement('input')
            inputSubTotal.setAttribute("type", "hidden")
            inputSubTotal.setAttribute("name", "arraysubtotal[]")

            let inputTotal = document.createElement('input')
            inputTotal.setAttribute("type", "hidden")
            inputTotal.setAttribute("name", "totalinp[]")


    // ARRAY        
                serviços.push({     serviço_id: data_servico.rows_servico[0].idservico,
                                    serviço_tipo: data_servico.rows_servico[0].servico_tipo,
                                    descricao_id: data_descricao.rows_descricao[0].idcliente_desc_peca,
                                    descricao_tipo: data_descricao.rows_descricao[0].cliente_desc_pc_descricao,
                                    diametro,
                                    comprimento,
                                    quantidade,
                                    unidade_id: data_unidade.rows_unidade[0].idunidade,
                                    unidade_tipo: data_unidade.rows_unidade[0].unidade_tipo_un,
                                    camada,
                                    fatorx,
                                    valor_uni: decimetro * fatorx,
                                    subtotal: decimetro * fatorx * quantidade, 
                                })


            for (let i in serviços){
                td_servico.innerText = serviços[i].serviço_tipo
                td_servico.appendChild(inputServico)
                inputServico.setAttribute("value", serviços[i].serviço_id)
            }

            for (let i in serviços){
                td_descricao.innerText = serviços[i].descricao_tipo + ' ' + diametro + ' X ' + comprimento
                td_descricao.appendChild(inputDescricao)
                inputDescricao.setAttribute("value", serviços[i].descricao_id)

            }

            for (let i in serviços){
                td_descricao.appendChild(inputDiametro)
                inputDiametro.setAttribute("value", serviços[i].diametro)
            }

            for (let i in serviços){
                td_camada.innerText = serviços[i].camada
                td_camada.appendChild(inputCamada)
                inputCamada.setAttribute("value", serviços[i].camada)
            }

            for (let i in serviços){
                td_descricao.appendChild(inputComprimento)
                inputComprimento.setAttribute("value", serviços[i].comprimento)
            }

            for (let i in serviços){
                td_fator_x.innerText = serviços[i].fatorx
                td_fator_x.appendChild(inputFatorx)
                inputFatorx.setAttribute("value", serviços[i].fatorx)
            }

            for (let i in serviços){
                td_quantidade.innerText = serviços[i].quantidade
                td_quantidade.appendChild(inputQuantidade)
                inputQuantidade.setAttribute("value", serviços[i].quantidade)
            }

            for (let i in serviços){
                td_unidade.innerText = serviços[i].unidade_tipo
                td_unidade.appendChild(inputUnidade)
                inputUnidade.setAttribute("value", serviços[i].unidade_id)
            }

            for(let i in serviços){
                td_valorUnit.innerText = serviços[i].valor_uni
                td_valorUnit.appendChild(inputValorUnit)
                inputValorUnit.setAttribute("value", serviços[i].valor_uni)
            }

            for(let i in serviços){
                td_subTotal.innerText = serviços[i].subtotal
                td_subTotal.appendChild(inputSubTotal)
                inputSubTotal.setAttribute("value", serviços[i].subtotal)
            }

            let total = serviços.reduce(getTotal, 0);
            function getTotal(total, item) {
            return total + (item.valor_uni * item.quantidade);
            }

            let totalExibir = document.getElementById('Vtotal')

            totalExibir.innerText = total
            totalExibir.appendChild(inputTotal)
            inputTotal.setAttribute("value", total)

    }
    

</script>
</html>